* {
  margin: 0; }

html,
body {
  height: 100%; }

body {
  color: #444;
  background-image: url(images/noise.png);
  font-weight: 300;
  line-height: 1.4;
  border-top: solid 6px #1177aa; }
  @media only screen and (max-width: 540px) {
    body {
      border-top: none; } }

a {
  color: #1177aa; }
  a:hover, a:focus {
    color: #148eca; }

.wrapper {
  max-width: 1100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px auto;
  padding: 20px; }
  @media only screen and (max-width: 540px) {
    .wrapper {
      width: 100%; } }
  @media only screen and (max-width: 540px) {
    .wrapper {
      padding: 0; } }

header {
  margin-bottom: 20px;
  width: 100%; }
  @media only screen and (max-width: 540px) {
    header {
      margin-top: 0px;
      float: left; } }

#branding {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #efefef;
  width: 150px;
  margin: 0;
  padding: 10px 5px;
  color: #1177aa;
  text-align: center; }
  @media only screen and (max-width: 540px) {
    #branding {
      width: 100%; } }

#nav_pri {
  display: block;
  width: 100%;
  height: 50px; }
  @media only screen and (max-width: 540px) {
    #nav_pri {
      display: none; } }
  @media only screen and (max-width: 540px) {
    #nav_pri {
      width: 100%; } }
  #nav_pri ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: left; }
    @media only screen and (max-width: 540px) {
      #nav_pri ul {
        width: 100%;
        margin-top: 20px; } }
    #nav_pri ul li {
      display: inline-block;
      vertical-align: baseline;
      zoom: 1;
      *display: inline;
      *vertical-align: auto;
      margin-left: 20px; }
      @media only screen and (max-width: 540px) {
        #nav_pri ul li {
          margin-left: 5px; } }
      @media only screen and (max-width: 540px) {
        #nav_pri ul li:first-child {
          margin-left: 0; } }
      #nav_pri ul li a {
        display: block;
        padding: 15px 5px;
        margin: 0;
        color: #1177aa;
        text-decoration: none;
        border: none; }
        #nav_pri ul li a:hover, #nav_pri ul li a:focus {
          color: #148eca; }

.mobile-header {
  display: none;
  float: left;
  margin-bottom: 20px;
  background-color: #148eca;
  width: 100%; }
  @media only screen and (max-width: 540px) {
    .mobile-header {
      display: block; } }
  .mobile-header a.navi {
    border-bottom: none;
    display: block;
    background-color: #1177aa;
    color: #fff;
    padding: 15px;
    height: 100%; }
  .mobile-header .navi_vert ul {
    list-style-type: none;
    margin: 0; }
    .mobile-header .navi_vert ul li {
      display: block;
      width: 100%;
      margin: 0; }
      .mobile-header .navi_vert ul li a {
        border-bottom: none;
        display: block;
        color: #fff;
        padding: 15px;
        height: 100%; }
        .mobile-header .navi_vert ul li a:hover {
          background-color: #0c577c; }
  .mobile-header .navi_vert ul.nav_hor {
    list-style-type: none;
    margin: 0; }
    .mobile-header .navi_vert ul.nav_hor li {
      display: block;
      width: 100%;
      margin: 0; }
      .mobile-header .navi_vert ul.nav_hor li a {
        border-bottom: none;
        display: block;
        color: #fff;
        padding: 15px;
        height: 100%; }
        .mobile-header .navi_vert ul.nav_hor li a:hover {
          background-color: #0c577c; }

.side_nav {
  display: none;
  float: left;
  width: 70%;
  margin-left: -100%; }

#main {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  float: left; }
  @media only screen and (max-width: 540px) {
    #main {
      width: 100%; } }
  @media only screen and (min-width: 541px) and (max-width: 1023px) {
    #main {
      width: 100%; } }
  @media only screen and (max-width: 540px) {
    #main {
      padding: 20px 20px; } }

#sidebar {
  width: 31.515151515152%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  background: #efefef;
  margin-left: 1.81818181%; }
  @media only screen and (max-width: 540px) {
    #sidebar {
      width: 100%; } }
  @media only screen and (min-width: 541px) and (max-width: 1023px) {
    #sidebar {
      width: 100%; } }
  @media only screen and (max-width: 540px) {
    #sidebar {
      margin-left: 0;
      margin-top: 20px; } }
  @media only screen and (min-width: 541px) and (max-width: 1023px) {
    #sidebar {
      margin-left: 0;
      margin-top: 20px; } }

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -200px; }

.push, footer {
  height: 200px;
  clear: both; }

footer {
  background-color: #1177aa;
  background-image: url(images/noise.png); }

p,
pre,
blockquote,
ul,
ol,
dl,
figure,
figcaption,
table,
fieldset {
  margin: 0.5em 0; }

h1 {
  font-size: 1.33333em; }

h2 {
  font-size: 1.66667em;
  margin: 1em 0;
  color: #1177aa;
  font-weight: 300; }

h3 {
  font-size: 1.33333em;
  margin: 1em 0 0;
  font-weight: 400; }

h4 {
  font-size: 1.22222em;
  margin: 1.1em 0 0;
  font-weight: 400; }

h5 {
  font-size: 1em;
  margin: 1.5em 0 0;
  text-transform: uppercase;
  font-weight: 400; }

h6 {
  font-size: 1em;
  margin: 1.5em 0 0;
  text-transform: uppercase;
  font-weight: 400; }

.example {
  outline: 1px dashed #dddddd;
  margin: 1em -1em 2em;
  padding: 0.5em 1em; }

.text_reader_text {
  display: none; }

pre {
  white-space: pre-line; }

code {
  color: #981A22; }

blockquote {
  color: #666;
  border-left: 0.25em solid #eeeeee;
  padding: 0 1.5em 0 1.25em;
  margin: 1em 0 1.5em;
  margin-left: 0; }

ul,
ol {
  padding: 0; }

dt {
  font-weight: 400; }

dd,
li {
  margin-left: 1.5em; }

a {
  color: #1177aa;
  text-decoration: none; }
  a:hover, a:focus {
    border-bottom: none; }

th {
  color: #333;
  font-weight: 400;
  border-bottom: solid 1px #cccccc; }

th,
td {
  text-align: left;
  border-bottom: solid 1px #eeeeee;
  padding: 0.25em 1em 0.25em 0; }

legend {
  color: #1177aa;
  font-weight: 300; }

caption {
  caption-side: bottom;
  text-align: left;
  font-size: .875em;
  color: #666;
  line-height: 1.4;
  padding: 0.5em 0 0.25em; }

fieldset {
  border: none;
  padding: 0; }
  fieldset div.submit,
  fieldset .options ul,
  fieldset .check {
    margin-left: 25%; }
    @media only screen and (max-width: 540px) {
      fieldset div.submit,
      fieldset .options ul,
      fieldset .check {
        margin-left: 0; } }
  fieldset em {
    margin: 0.5em 0 0.5em 25%;
    display: block;
    color: #666;
    font-size: 0.875em; }
    @media only screen and (max-width: 540px) {
      fieldset em {
        margin: 0.5em 0 0.5em 0; } }
  fieldset abbr[title="Required"] {
    color: #900;
    font-weight: 400;
    font-size: 1.25em;
    border-bottom: none; }
  fieldset div {
    margin: 1em 0; }
  fieldset .options li {
    list-style: none; }

abbr[title]:hover, dfn[title] {
  cursor: help; }

label,
fieldset.options legend {
  float: left;
  width: 25%;
  padding: 0;
  color: inherit; }
  @media only screen and (max-width: 540px) {
    label,
    fieldset.options legend {
      width: 100%; } }

label.check {
  float: none; }

input.text,
textarea,
select {
  width: 75%;
  box-sizing: border-box;
  background-color: #eee;
  border: solid 1px #cccccc;
  border-radius: 2px;
  padding: 0.5em 0.35em;
  color: #444;
  font-weight: 100; }
  @media only screen and (max-width: 540px) {
    input.text,
    textarea,
    select {
      width: 100%; } }
  input.text:focus,
  textarea:focus,
  select:focus {
    outline: none;
    background-color: #e2e2e2; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input.search {
  float: left;
  box-sizing: border-box;
  margin: 0 2% 0 0;
  -webkit-appearance: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #1177aa;
  color: #fff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 0.25em 0.5em; }
  button:hover, button:focus,
  input[type="button"]:hover,
  input[type="button"]:focus,
  input[type="reset"]:hover,
  input[type="reset"]:focus,
  input[type="submit"]:hover,
  input[type="submit"]:focus,
  input.search:hover,
  input.search:focus {
    background-color: #148eca; }

input.search {
  width: 23%; }
  @media only screen and (max-width: 540px) {
    input.search {
      margin-top: 5px; } }

/**** Navigation ****/
.horizontal {
  list-style: none; }
  .horizontal dd,
  .horizontal dt,
  .horizontal li {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    margin-left: 0; }
  .horizontal a {
    display: block; }

#featured {
  clear: both; }
  #featured li {
    width: 23.58491%;
    margin-right: 1.41509%; }
    @media only screen and (min-width: 541px) and (max-width: 1023px) {
      #featured li {
        width: 47.96748%; } }
    @media only screen and (max-width: 540px) {
      #featured li {
        width: 100%;
        margin-right: 0; } }
    @media only screen and (min-width: 541px) and (max-width: 1023px) {
      #featured li {
        margin-bottom: 1.41509%; } }
    @media only screen and (max-width: 540px) {
      #featured li {
        margin-bottom: 1.41509%; } }
    #featured li:last-child {
      margin-right: 0; }
    #featured li a {
      background-color: #efefef;
      padding: 75px 0px;
      text-align: center; }

.pagination li a {
  border: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 1;
  padding: 10px 15px;
  background-color: #fff;
  border-radius: 5px; }
  .pagination li a.current_page {
    background-color: #1177aa;
    background-image: url(images/noise.png);
    color: #FFF; }
    .pagination li a.current_page:hover, .pagination li a.current_page:focus {
      background-color: #1177aa; }
  .pagination li a:hover, .pagination li a:focus {
    background-color: #f7f7f7; }
.pagination li:last-child a, .pagination li:first-child a {
  border: none;
  background-color: inherit;
  text-decoration: underline; }
  .pagination li:last-child a:hover, .pagination li:last-child a:focus, .pagination li:first-child a:hover, .pagination li:first-child a:focus {
    text-decoration: none; }

.list_wrap {
  float: left;
  width: 23%;
  margin-left: 1.41509%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 541px) and (max-width: 1023px) {
    .list_wrap {
      width: 48%; } }
  @media only screen and (max-width: 540px) {
    .list_wrap {
      width: 100%; } }
  .list_wrap h2 {
    margin-bottom: 0;
    margin-top: 0; }
  .list_wrap ul.todo_list {
    list-style-type: none; }
    .list_wrap ul.todo_list li {
      margin-left: 0;
      padding: 10px 10px 20px 10px;
      position: relative;
      background-color: #ebf7fd;
      border-bottom: 1px solid #ddf1fc; }
      .list_wrap ul.todo_list li:hover {
        background-color: #ddf1fc; }
      .list_wrap ul.todo_list li:last-child {
        background-color: #fff;
        border-bottom: none; }
      .list_wrap ul.todo_list li .edit_item,
      .list_wrap ul.todo_list li .add_item,
      .list_wrap ul.todo_list li .delete_item {
        font-size: .8em; }
      .list_wrap ul.todo_list li .edit_item,
      .list_wrap ul.todo_list li .delete_item {
        display: none;
        position: absolute;
        bottom: 0px; }
      .list_wrap ul.todo_list li .edit_item {
        left: 10px; }
      .list_wrap ul.todo_list li .delete_item {
        left: 40px; }
      .list_wrap ul.todo_list li .add_item {
        border-bottom: 1px solid rgba(17, 119, 170, 0.2); }
      .list_wrap ul.todo_list li:hover .edit_item, .list_wrap ul.todo_list li:hover .delete_item {
        display: inline; }
  .list_wrap #addList {
    float: left;
    font-size: 1.1em;
    padding: 50px 15px 11px 60px;
    margin: 10px 20px;
    position: relative; }
    .list_wrap #addList span {
      position: absolute;
      left: 0;
      padding: 11px 15px;
      line-height: 1em;
      font-size: 1.2em;
      border-radius: 50%;
      background-color: #d8f0fb; }
