@import "config";

* {
	margin: 0;
}

html, 
body {
	height: 100%;
	font-family: $font1;
}

body {
	box-sizing: border-box;
	color: #444;
	@include noisyBG;
	font-weight: 300;
	line-height: 1.4;
	border-top: solid 6px $maincolor;
	@include breakpoint(handhelds) { border-top: none;}
}

a {
	color: $linkcolor;
	outline: none;

	&:hover,
	&:focus {
		color: $hoverlight;
	}
}

.wrapper {
	max-width: $max_width;
	 @include breakpoint(handhelds) { width: 100% ;}
	 -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	 box-sizing: border-box;
	margin: 0px auto;
	padding: 20px;
	@include breakpoint(handhelds) { padding: 0 ;}
}
header {
	margin-bottom: 20px;
	width: 100%;
	@include breakpoint(handhelds) { margin-top: 0px; margin-bottom: 0px; float: left;}

	.not_supported {
		display: none;
	}
}
.no-localstorage .not_supported,
.ie6 .not_supported,
.ie7 .not_supported,
.ie8 .not_supported {
		float: left;
		width: 100%;
		margin-bottom: 20px;
		text-align: center;
		color: #CA5555;	
}

#branding {
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: $grey;
	width: 150px;
	@include breakpoint(handhelds) { display: none;}
	margin: 0;
	padding: 10px 5px;
	color: $maincolor;
	text-align: center;
}
#nav_pri {
	display: block;
	@include breakpoint(handhelds) { display: none;}
	width: 100%;
	@include breakpoint(handhelds) { width: 100% ;}
	height: 50px;

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		float: left;
		@include breakpoint(handhelds) { width: 100% ; margin-top: 20px;}

		li {
			display: inline-block;
			vertical-align: baseline;
			zoom: 1;
			*display:inline;
      		*vertical-align:auto;
			margin-left: 20px;
			@include breakpoint(handhelds) { margin-left: 5px; }
			
			&:first-child {
				@include breakpoint(handhelds) { margin-left: 0; }
			}
			a {
				display: block;
				padding: 15px 5px;
				margin: 0;
				color: $linkcolor;
				text-decoration: none;
				border: none;

				&:hover,
				&:focus {
					color: $hoverlight;
				}
			}
		}
	}
}

.mobile-header {
	display: none;
	@include breakpoint(handhelds) { display: block;}
	float: left;
	margin-bottom: 10px;
	background-color: $hoverlight;
	width: 100%;
	position: relative;

	a.navi {
		border-bottom: none;
		display: block;
		text-align: center;
		background-color: $grey;
		color: $maincolor;
		font-size: 1.3333em;
		font-weight: bold;
		padding: 10px 15px;
		height: 100%;
		position: relative;

		span {
			font-family: "Entypo";
			position: absolute;
			right: 10px;
			top: -16px;
			font-size: 2.65em;
		}
	}

	.navi_vert {
		ul {
			list-style-type: none;
			margin: 0;

			li {
				display: block;
				width: 100%;
				margin: 0;

				a {
					border-bottom: none;
					display: block;
					color: #fff;
					padding: 15px;
					height: 100%;
					
					&:hover {
						background-color: $hoverdark;
					}
				}
			}
		}

		ul.nav_hor {
			list-style-type: none;
			margin: 0;

			li {
				display: block;
				width: 100%;
				margin: 0;

				a {
					border-bottom: none;
					display: block;
					color: #fff;
					padding: 15px;
					height: 100%;
					
					&:hover {
						background-color: $hoverdark;
					}
				}
			}
		}
	}

}
.side_nav {
	display: none;
	float: left;
	width: 70%;
	margin-left: -100%;
}
#main	{
	width: 100%;
	@include breakpoint(handhelds) { width: 100% ; }
	@include breakpoint(medium-screens) { width: 100% ;}
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	@include breakpoint(handhelds) { padding: 10px 0px 20px;}
	float: left;
}

#sidebar {
	width: 31.515151515152%;
	@include breakpoint(handhelds) { width: 100% ;}
	@include breakpoint(medium-screens) { width: 100% ;}
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: right;
	background: #efefef;
	margin-left: 1.81818181%;
	@include breakpoint(handhelds) { margin-left: 0 ; margin-top: 20px;}
	@include breakpoint(medium-screens) { margin-left: 0 ; margin-top: 20px;}
}




.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -$footer_height;
}
.push, footer {
    height: $footer_height;
    clear: both;
  }
footer {
	background-color: $maincolor;
	@include noisyBG;
	
	.footer_wrapper {
		text-align: center;
		padding-top: 13px;
	}

	small {
		color: #fff;

		a {
			color: #fff;
			text-decoration: none;

			&:hover,
			&:focus {
				color: #fff;
				text-decoration: underline;
			}
		}
	}
}
p, 
pre, 
blockquote, 
ul, 
ol, 
dl, 
figure, 
figcaption, 
table, 
fieldset {
	margin: 0.5em 0;
}

h1 {
	font-size: calc-em($baseh1);
	color: $maincolor;
}

h2 {
	font-size: calc-em($baseh2);
	margin: 1em 0;
	color: $maincolor;
	font-weight: 300;
}

h3 {
	font-size: calc-em($baseh3);
	margin: 1em 0 0;
	font-weight: 400;
}

h4 {
	font-size: calc-em($baseh4);
	margin: 1.1em 0 0;
	font-weight: 400;
}

h5 {
	font-size: calc-em($baseh5);
	margin: 1.5em 0 0;
	text-transform: uppercase;
	font-weight: 400;
}

h6 {
	font-size: calc-em($baseh6);
	margin: 1.5em 0 0;
	text-transform: uppercase;
	font-weight: 400;
}

.example {
	outline: 1px dashed #dddddd;
	margin: 1em -1em 2em;
	padding: 0.5em 1em;
}

.text_reader_text {
	display: none;
}

pre	{
	white-space: pre-line;
}

code {
	color: #981A22;
}

blockquote {
	color: #666;
	border-left: 0.25em solid #eee;
	padding: 0 1.5em 0 1.25em;
	margin: 1em 0 1.5em;
	margin-left: 0;
}

ul,
ol {
	padding: 0;
}

dt {
	font-weight: 400;
}

dd,
li {
	margin-left: 1.5em;
}

a {
	color: $linkcolor;
	text-decoration: none;

	&:hover,
	&:focus	{
		border-bottom: none;
	}
}

th {
	color: #333;
	font-weight: 400;
	border-bottom: solid 1px #ccc;
}

th,
td {
	text-align: left;
	border-bottom: solid 1px #eee;
	padding: 0.25em 1em 0.25em 0;
}

legend {
	color: $maincolor;
	font-weight: 300;
}

caption {
	caption-side: bottom;
	text-align: left;
	font-size: .875em;
	color: #666;
	line-height: 1.4;
	padding: 0.5em 0 0.25em;
}
// fieldset {
// 	border: none;
// 	padding: 0;
	
// 	div.submit, 
// 	.options ul, 
// 	.check {
// 		margin-left: 25%;
// 		@include breakpoint(handhelds) {margin-left: 0;}
// 	}

// 	em {
// 	margin: .5em 0 .5em 25%;
// 	@include breakpoint(handhelds) { margin: .5em 0 .5em 0;}
// 	display: block;
// 	color: #666;
// 	font-size: 0.875em;
// 	}

// 	abbr[title="Required"] {
// 	color: #900;
// 	font-weight: 400;
// 	font-size: 1.25em;
// 	border-bottom: none;
// 	}

// 	div {
// 	margin: 1em 0;
// 	}
	
// 	.options li {
// 	list-style: none;
// 	}
// }

// abbr[title]:hover, dfn[title] {
// 	cursor: help;
// }
// label,
// fieldset.options legend {
// 	float: left;
// 	width: 25%;
// 	@include breakpoint(handhelds) { width: 100% ;}
// 	padding: 0;
// 	color: inherit;
// }

// label.check {
// 	float: none;
// }

// input.text,
// textarea,
// select {
// 	width: 75%;
// 	@include breakpoint(handhelds) { width: 100% ;}
// 	box-sizing: border-box;
// 	background-color: #eee;
// 	border: solid 1px #ccc;
// 	border-radius: 2px;
// 	padding: .5em .35em;
// 	color: #444;
// 	font-weight: 100;

// 	&:focus {
// 	outline: none;
// 	background-color: #e2e2e2;
// 	}
// }

// button,
// input[type="button"],
// input[type="reset"],
// input[type="submit"],
// input.search {
// 	float: left;
// 	box-sizing: border-box;
// 	margin: 0 2% 0 0;
// 	-webkit-appearance: none;
// 	border: 1px solid $bordercolor;
// 	background-color: $maincolor;
// 	color: #fff;
// 	@include border-radius(2px);
// 	padding: .25em .5em;

// 	&:hover,
// 	&:focus {
// 		background-color: $hoverlight;
// 	}
// }

// input.search {
// 	width: 23%;
// 	@include breakpoint(handhelds) { margin-top: 5px; }
// }
/**** Navigation ****/
.horizontal {
        list-style:none;

        dd,
        dt,
        li {
            @include inline-block;
            margin-left:0;
        }
        a {
            display:block;
        }
    }

// #featured {
// 	clear: both;

// 		li {
// 			width: percentage(250px / ($max_width - 40px));
// 			@include breakpoint(medium-screens) { width: percentage(472px / 984px);}
// 			@include breakpoint(handhelds) { width: 100%; margin-right: 0;}
// 			margin-right: $gutter;
// 			@include breakpoint(medium-screens) { margin-bottom: $gutter;}
// 			@include breakpoint(handhelds) { margin-bottom: $gutter;}
			
// 			&:last-child{
// 					margin-right: 0;
// 				}

// 			a {
// 				background-color: #efefef;
// 				padding: 75px 0px;
// 				text-align: center;
// 			}
// 		}
// }

// .pagination {
// 	li {
		
// 		a {
// 			border: 1px solid $bordercolor;
// 			line-height: 1;
// 			padding: 10px 15px;
// 			background-color: #fff;
// 			border-radius: 5px;

// 			&.current_page {
// 				background-color: $maincolor;
// 				@include noisyBG;
// 				color: #FFF;

// 				&:hover,
// 				&:focus {
// 					background-color: $maincolor;
// 				}
// 			}

// 			&:hover,
// 			&:focus {
// 				background-color: darken(#fff, 3%);
// 			}
// 		}			

// 		&:last-child a,
// 		&:first-child a {
// 			border: none;
// 			background-color: inherit;
// 			text-decoration: underline;

// 			&:hover,
// 			&:focus {
// 				text-decoration: none;
// 			}
// 		}
// 	}
// }

.list_wrap {
	float: left;
	width: 19%;
	@include breakpoint(medium-screens) { width: 32%;}
	@include breakpoint(handhelds) { width: 100%; margin-left: 0; }
	margin-left: $gutter;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	h2 {
		margin-bottom: 0.5em;
		margin-top: 0;
		padding: 3px 0;
		text-align: center;
		background-color: lighten($maincolor, 5%);
		color: #fff;
		cursor: pointer;
	}

	ul.closed {
			display: none;
	}

	ul.todo_list {
		list-style-type: none;
		margin-top: 0;
 			

		li {
			margin-left: 0;
			padding: 10px 10px 20px 10px;
			@include breakpoint(handhelds) { padding-right: 50px; }
			position: relative;
			background-color: lighten($maincolor, 59%);
			border-bottom: 1px solid lighten($maincolor, 56%);
			

			

			p {
				margin-bottom: 0;
				cursor: pointer;

				&.completed {
					opacity: .7;
					text-decoration: line-through;
				} 
			}
			
			&:hover,
			&:focus {
				z-index: 2;
				background-color: lighten($maincolor, 56%);
				@include breakpoint(handhelds) {background-color: lighten($maincolor, 59%);}
			}

			&:last-child {
				background-color: #fff;
				background-image: -webkit-linear-gradient(top, lighten($maincolor, 61%), #fff);
				border-bottom: none;
			}

			.edit_item,
			.add_item,
			.delete_item,
			.delete_list,
			.complete_item,
			.archive_items {
				font-size: .8em;
			}

			.edit_item,
			.delete_item,
			.complete_item {
				display: none;
				@include breakpoint(handhelds) { display: inline; top: 38%; }
				position: absolute;
				bottom: 0px;
			}
			
			.edit_item {
				left: 10px;
				@include breakpoint(handhelds) { left: 40px; font-size: 1em; }
			}

			.delete_item {
				left: 40px;
				@include breakpoint(handhelds) { left: 90px; font-size: 1em; }
			}
			

			.add_item,
			.delete_list,
			.archive_items {
				border-bottom: 1px solid transparentize($linkcolor, 0.8);
				margin-right: 3px;
			}

			.archive_items {
				display: none;
			}

			.archive_items_active {
				display: inline;
			}

			&:hover .edit_item,
			&:hover .delete_item,
			&:hover .complete_item {
				display: inline;
			}

			span.tasks {
					@include breakpoint(handhelds) { 
					display: none;
					height: 100%;
					width: 100%;
					background-color: lighten($maincolor, 56%);
					position: absolute;
					top: 0;
					left: 0;}
				}

			a.task_toggle {
				display: none;
				font-size: 2em;
				color: lighten($maincolor, 50%);
				@include breakpoint(handhelds) { display: inline; position: absolute; top: 16%; right: 20px; z-index: 4; }
			
				&:hover,
				&:focus {
					color: lighten($maincolor, 40%);
				}
			}

		}
	}

}
.touch {
	.list_wrap {
		ul.todo_list {
			li {

				padding-right: 50px;
				
				.edit_item,
				.delete_item {
					display: inline;
					top: 38%;
					font-size: 1em;
				}

				.edit_item {
					left: 20px;
				}

				.delete_item {
					left: 68px;
				}

				span.tasks {
					display: none;
					height: 100%;
					width: 100%;
					background-color: lighten($maincolor, 56%);
					position: absolute;
					top: 0;
					left: 0;
				}

				a.task_toggle {
					display: inline;
					position: absolute;;
					top: 16%;
					right: 20px;
					z-index: 4;
				}
			}
		}
	}
}

#addList {
	float: right;
	font-size: 1.1em;
	padding: 11px 15px 11px 60px;
	margin: 0px 20px 20px;
	position: relative;
	@include breakpoint(handhelds) { margin-bottom: 0px; float: left; }

	span {
		position: absolute;
		left: 0;
		padding: 11px 15px;
		line-height: 1em;
		font-size: 1.2em;
		border-radius: 50%;
		background-color: lighten($maincolor, 55%);
	}
}

.purpose_page #addList {
	display: none;
}

#new-item {
	 max-height: 0;
		opacity: 0;
		 -webkit-transform: scale(0);
		 -webkit-animation: growHeight 0.2s ease forwards;
	}
	@-webkit-keyframes growHeight {

	  to { 
	    max-height: 350px;
	    opacity: 1;
	    -webkit-transform: scale(1);
	  }
	}

.purpose {
	width: 85%;
	@include breakpoint(handhelds) { width: 90%; }
	@include breakpoint(medium-screens) { width: 85%; }
	margin: 20px auto 0;
}
